.main-container img {
	width: 160px;
}

.main-container h3 {
	color: #fff;
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	background-color: #1b1b1b;
	cursor: url(../img/cursor/Sword.cur), default;
}

.header {
	background-color: #1b1b1b;
	height: 100px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
}

.header p {
	font-family: arial;
	font-size: 18px;
	color: #fff;
	padding-bottom: 4px;
}

.header h2 {
	font-family: 'Acem', sans-serif;
	font-size: 30px;
	color: #f8b700;
}

.interface {

	display: flex;
	justify-content: center;
	border-color: #1b1b1b;

}

.interface a {
	display: flex;
	flex-wrap: nowrap;
}

.interface img {
	width: 120px;
	height: 120px;
}

.img-avatar {
	width: 160px !important;
	height: 160px !important;
}

.interface div {


	background-color: #211510;
}

.interface a:hover {
	background-color: #3c1d3d;
	cursor: url(../img/cursor/Grab.cur), default !important;

}

.interface a:hover div {
	background-color: #3c1d3d;
	cursor: url(../img/cursor/Grab.cur), default !important;

}

interface h3 {
	font-family: 'Acem', sans-serif;
	font-size: 22px;
	color: #f8b700;
	padding: 12px 0 4px;
}

.interface p {
	font-family: arial;
	color: #d5c8af;
	line-height: 20px;
}

.btn-prefight {
	width: 100% !important;
	color: aqua;
}

.actions {
	width: 100%;
	display: flex;
	flex-wrap: wrap;

}

.actions a {
	width: 33.33%;
	padding: 10px 0px;
	text-align: center;
	font-size: 25px;
	font-family: arial;
	color: #1b1b1b;

}

.actions a:nth-of-type(1) {
	background-color: #e64747;
}

.actions a:nth-of-type(2) {
	background-color: #e6ce47;
}

.actions a:nth-of-type(3) {
	background-color: #6de647;
}

.actions a:hover {
	opacity: 0.9;
	cursor: url(../img/cursor/Grab.cur), default !important;

}

.arena {
	width: 100%;
	height: 180px;
	background-color: #1d373d !important;
/*	background-image: url("../img/bear1.jpg");*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: 35vh;
	visibility: hidden;
}
.arena option{
	color: aliceblue;
	background-color: ;
}

.enemy {
	padding: 0;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: #1b1b1b;

}

.enemy a {
	display: flex;
	flex-wrap: nowrap;
}

.enemy img {
	width: 120px;
	height: 120px;
}

.emeny div {
	width: 220px;
	padding: 0 10px 0 20px;
	background-color: #211510;
}

.enemy a:hover div {
	background-color: #3c1d3d;

}

.enemy h3 {
	font-family: 'Acme', sans-serif;
	font-size: 22px;
	color: #f8b700;
	padding: 12px 0 4px;
}

.enemy p {
	font-family: arial;
	font-size: 12px;
	color: #d5c8af;
	line-height: 20px;
}
