body{
/*    background-color: red;*/
}
.content1-left {
    /*    background-color: red;*/
    /*    height: 400px;*/
}

.content1-center {
    /*    background-color: green;*/
    /*    height: 400px;*/
}

.content1-right {
    /*    background-color: purple;*/
    /*    height: 400px;*/
}

.index-intro {
    width: 100%;
    background-color: #f3f3f3;
}

.index-intro .jumbotron {
    padding: 120px 00px;
    margin: 0px;
    width: 100%;
    background-image: url(../img/typing.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.index-intro .jumbotron h1 {
    font-size: 50px;

}

.index-intro .jumbotron p {
    margin-left: 200px;
    margin-top: 0px;
}

.index-gallery {
    width: 100%;
    background-color: #fff;
    padding-top: 60px;
    padding-bottom: 60px;
}

.index-gallery h2 {
    text-align: center;

}

.index-gallery p {
    text-align: center;

}
.index-table{
    width: 100%;
    background-color: #fff;
    padding-top:60px;
    padding-bottom: 60px;
}
